@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 400;
  background-color: #eeeeee;
}

a {
  color: inherit;
  text-decoration: none;
  color: #0070f3;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

// https://github.com/codex-team/editor.js/issues/724#issuecomment-1323898468
.codex-editor__loader { height: 38px !important; }

.ce-block__content {
  background-color: white;
  padding: 0 .6em;
}